<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In / Sign Up</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- <script defer src="js/script.js"></script> -->
</head>
<body class="bg-light">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- Sign In Form -->
                <div id="signin-form" class="card p-4 shadow">
                    <h2 class="text-center">ERROR 404</h2>
                    <form method="POST" action="/error">
                        <!-- <div class="mb-3">
                            <label for="signin-email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="signin-email" name="email" required>
                        </div>
                        -->
                        <div class="mb-3" >
                            <!-- <label for="signin-password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="signin-password" name="password" required> -->
                            {% if message %}
                            <p id="text" style="align-items: center;">{{ message }}</p>
                            {% endif %}
                        </div>
                       
                    <button type="submit" class="btn btn-primary w-100">Back to Home</button>
                    </form>

                </div>

            
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>

