<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metering Node Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h2>Metering Node Form</h2>
        <form action="/store_metering_node" method="POST" id="meteringNodeForm">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="category">Category</label>
                    <select class="form-control" id="category" name="category" onchange="updateSubstationOptions()">
                        <option selected value="default_value">Select Category</option>
                        <option value="Substation">Substation</option>
                        <option value="Standalone">Standalone</option>
                        <option value="IPP">IPP</option>
                    </select>
                </div>
                <div class="form-group col-md-6" id="substation-group">
                    <label for="uetclSubstation" id="uetclSubstationLabel">Substation</label>
                    <select class="form-control" id="uetclSubstation" name="uetclSubstation">
                        <!-- <option selected value="default_value">Select Substation</option> -->
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" placeholder="Enter location" name="location" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="name">Metering Node Name</label>
                    <input type="text" class="form-control" id="node_name" placeholder="Enter name" name="node_name" required>
                </div>
              
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="distributors" id="distributor1Label">Distributor</label>
                    <select class="form-control" id="distributor" name="distributor_1">
                        <option selected value="default_value">Select Distributor</option>
                        <option value="UEDCL">UEDCL</option>
                        <option value="WENRECO">WENRECO</option>
                        <option value="KPLC">KPLC</option>
                        <option value="SNEIL">SNEIL</option>
                        <option value="TANESCO">TANESCO</option>
                        <option value="REC">REC</option>
                        <option value="SOUTH SUDAN">SOUTH SUDAN</option>
                    </select>
                </div>
                <div class="form-group col-md-6" name="distributor2Div" id="distributor2Div" style="display: none;">
                    <label for="distributors">Distributor 2</label>
                    <select class="form-control" id="distributor_2" name="distributor_2" >
                        <option selected value="NA">Select Distributor 2</option>
                        <option value="UEDCL">UEDCL</option>
                        <option value="WENRECO">WENRECO</option>
                        <option value="KPLC">KPLC</option>
                        <option value="SNEIL">SNEIL</option>
                        <option value="TANESCO">TANESCO</option>
                        <option value="REC">REC</option>
                        <option value="SOUTH SUDAN">SOUTH SUDAN</option>
                    </select>
                </div>
             
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="region">Region</label>
                    <select class="form-control" id="region" name="region">
                        <option selected value="default_value">Select Region</option>
                        <option value="Central">Central</option>
                        <option value="Eastern">Eastern</option>
                        <option value="Western">Western</option>
                        <option value="Northern">Northern</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="type">Type</label>
                    <select class="form-control" id="type" name="type">
                        <option selected value="default_value">Select Type (Usage)</option>
                        <option value="Billing">Billing</option>
                        <option value="Energy_Loss">Energy Loss</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="voltageLevel">Voltage Level</label>
                    <select class="form-control" id="voltageLevel" name="voltageLevel">
                        <option selected value="default_value">Select Voltage</option>
                        <option value="11">11</option>
                        <option value="33">33</option>
                        <option value="66">66</option>
                        <option value="132">132</option>
                        <option value="220">220</option>
                        <option value="400">400</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="remote">Remote Status</label>
                    <select class="form-control" id="remote" name="remote">
                        <option selected value="default_value">Select Option</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
                </div>
            <br>
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>

        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script> -->

    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script> -->

    <!-- <script type="text/javascript" src="js_scripts/metering_node.js"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js_scripts/metering_node.js') }}"></script>
  
</body>
</html>

<style>
    input.form-control, select.form-control {
        border: 1px solid rgb(18, 18, 18);
    }
    </style>

<script>

if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
}
    // var substation_data = ['Lugogo','Kla_Nrth']
    // var ipp_data = ['Sindila','Mahoma']
    var labelToAlter = document.getElementById('uetclSubstationLabel');
    function updateSubstationOptions() {
    const category = document.getElementById('category').value;
    const substationGroup = document.getElementById('substation-group');
    const uetclSubstation = document.getElementById('uetclSubstation');
    var substations = ""
    var distributor2 = document.getElementById('distributor2Div');
    var distributor1Label = document.getElementById('distributor1Label');
    //distributor2.style.display = 'none';

    if (category === 'Substation') {
        labelToAlter.innerHTML = "Substation"
        substationGroup.style.display = 'block';
        uetclSubstation.innerHTML = ""
        uetclSubstation.innerHTML = `<option selected value="default_value">Select Substation</option>`
        distributor2.style.display = 'none';
        distributor1Label.innerHTML = "Distributor"
        substation_data = JSON.parse('{{ substations | tojson }}');
        
        console.log(substation_data);
        substation_data.forEach(substation_data => {
            var opt = document.createElement('option');
            opt.value = substation_data;
            opt.innerHTML = substation_data;
            uetclSubstation.appendChild(opt);
        });
    } 
    
    else if (category === 'IPP') {
        labelToAlter.innerHTML = "IPP name"
        substationGroup.style.display = 'block';
        distributor2.style.display = 'none';
        uetclSubstation.innerHTML = ""
        uetclSubstation.name = "ippName"
        uetclSubstation.innerHTML = `<option selected value="default_value">Select IPP</option>`
        distributor1Label.innerHTML = "Distributor"
       ipp_data = JSON.parse('{{ ipps | tojson }}');        
        console.log(ipp_data);
        ipp_data.forEach(ipp_data => {
            var opt = document.createElement('option');
            opt.value = ipp_data;
            opt.innerHTML = ipp_data;
            uetclSubstation.appendChild(opt);
        });
    } 
  
    
    else if (category === 'Standalone') {
        distributor2.style.display = 'block';
        substationGroup.style.display = 'none';
         distributor1Label.innerHTML = "Distributor 1"
    } 
    else {
        substationGroup.style.display = 'none';
        distributor2.style.display = 'none';
        distributor1Label.innerHTML = "Distributor"
        uetclSubstation.innerHTML = `<option selected value="substation_default_value">Select Substation</option>`;
    }
}
</script>


